﻿@model libNominaCurso.Plaza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plaza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePlaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePlaza)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlazaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
