﻿@model libNominaCurso.AsignaPlaza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AsignaPlaza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.oEmpleado.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oEmpleado.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oPlaza.Clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oPlaza.Clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsignaPlazaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
