﻿@model IEnumerable<libNominaCurso.AsignaPlaza>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.oEmpleado.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oPlaza.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.oEmpleado.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oPlaza.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsignaPlazaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsignaPlazaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsignaPlazaId })
        </td>
    </tr>
}

</table>
