﻿@model libNominaCurso.Beneficiario

@{
    string Accion = Model.BeneficiarioId == 0 ? "Create" : "Edit";
}
<div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @if (Model.BeneficiarioId == 0)
            { 
                <h4 class="modal-title" id="myModalLabel">Agrega Beneficiario</h4>
            }
            else
            {
                <h4 class="modal-title" id="myModalLabel">Modifica Beneficiario</h4>
            }
        </div>
        <div class="modal-body">
            @using (Ajax.BeginForm(@Accion, null, new AjaxOptions
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "modal-crear",
                    OnSuccess = "CierraModal"
                }, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @if (Model.BeneficiarioId > 0)
                    {
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BeneficiarioId, new { htmlAttributes = new { @class = "form-control",  style="display:none"} })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NombreCompleto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreCompleto, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Porcentaje, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Porcentaje, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Porcentaje, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmpleadoId, new { htmlAttributes = new { @class = "form-control", style = "display:none" } })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Guardar" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
