﻿@model libNominaCurso.Beneficiario

<div class="modal-dialog" role="document">
    <div class="modal-content" id="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Elimina Beneficiario</h4>
        </div>
        <div class="modal-body">
            <h3>¿Está seguro de querer eliminar el registro?</h3>
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.EmpleadoBeneficiario.Clave)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EmpleadoBeneficiario.Clave)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NombreCompleto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NombreCompleto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Porcentaje)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Porcentaje)
                    </dd>

                </dl>

                @using (Ajax.BeginForm("Delete", null, new AjaxOptions
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "modal-crear",
                    OnSuccess = "CierraModal"
                }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.BeneficiarioId, new { htmlAttributes = new { @class = "form-control", style = "display:none" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmpleadoId, new { htmlAttributes = new { @class = "form-control", style = "display:none" } })
                        </div>
                    </div>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
