﻿@model IEnumerable<libNominaCurso.Empleado>

<table class="table">
    <tr>
        <th>Clave</th>
        <th>Nombres</th>
        <th>Opciones</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.EmpleadoId })" class="btn btn-default"
                   data-toggle="tooltip" title="Edita empleado">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </a>
                <a href="@Url.Action("Details", new { id = item.EmpleadoId })" class="btn btn-default"
                   data-toggle="tooltip" title="Detalle del empleado">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                <a href="@Url.Action("Delete", new { id = item.EmpleadoId })" class="btn btn-default"
                   data-toggle="tooltip" title="Eliminar empleado">
                    <span class="glyphicon glyphicon-trash aria-hidden=" true"></span>
                </a>
            </td>
        </tr>
    }
</table>

