﻿@model EjemploAplicacionWeb.Models.BuscaEmpleadoModelView
@{
    ViewBag.Title = "Buscar empleados";
}

<h2>Buscar empleados</h2>

@using (Ajax.BeginForm("BuscaNombre", null, new AjaxOptions 
                                            {
                                                HttpMethod = "Post",
                                                LoadingElementId = "load_image",
                                                UpdateTargetId = "target_ajax",
                                                InsertionMode = InsertionMode.Replace
                                            }, 
    new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
             <div class="control-label col-md-2">Empleado a buscar:</div>
             <div class="col-md-10">
                @Html.EditorFor(model => model.cadenaBusqueda, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cadenaBusqueda, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </div>
   </div>
}
<div class="container">
    <img src="~/imgs/6.gif" width="64" height="64" alt="Cargando" style="display:none" id="load_image" />
</div>
<div cass="container" id="target_ajax"></div>

