﻿@model libNominaCurso.Empleado

@{
    ViewBag.Title = "Edit";
    string referencia = "/Beneficiarios/Create/" + Model.EmpleadoId.ToString();
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Empleado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmpleadoId)

        <div class="form-group">
            @Html.LabelFor(model => model.Clave, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clave, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Clave, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<!-- Button trigger modal -->
<p>
    <a class="btn btn-default" data-target="#modal-crear" data-toggle="modal"
       href=@referencia>Crear nueva</a>
</p>
<hr />

<div class="modal fade" id="modal-crear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Porcentaje</th>
                <th>Opciones</th>
            </tr>
            @foreach (var item in Model.Beneficiarios)
            {
                <tr>
                    <td>@item.NombreCompleto</td>
                    <td>@item.Porcentaje</td>
                    <td>
                        <a href="@Url.Action("Edit", "Beneficiarios", new { id = item.BeneficiarioId })" class="btn btn-primary"
                           data-toggle="modal" title="Edita beneficiario" data-target="#modal-crear">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a href="@Url.Action("Delete", "Beneficiarios", new { id = item.BeneficiarioId })" class="btn btn-primary"
                           data-toggle="modal" title="Eliminar beneficario" data-target="#modal-crear">
                            <span class="glyphicon glyphicon-trash aria-hidden=" true"></span>
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
 <script>
    function CierraModal(data) {
        var $referencia = '/Empleados/Edit/' + data.id;
        if (data.success) {
            $('#modal-crear').modal('hide');
            window.location.href = $referencia;
        }
    }
</script>
       }
